@charset "UTF-8";
/********* RESET CSS *********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***** PLACEHOLDERS *******/
#news h2, #all_songs #songs h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

#news > div .info_last_song .card-body .player-audio h2, #all_songs #songs ul.list-group .list-group-item .player-audio h2, #results .player-audio h2 {
  font-size: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  #news > div .info_last_song .card-body .player-audio h2, #all_songs #songs ul.list-group .list-group-item .player-audio h2, #results .player-audio h2 {
    font-size: 1.5rem;
  }
}

#news > div .info_last_song .card-body .player-audio h2 small, #all_songs #songs ul.list-group .list-group-item .player-audio h2 small, #results .player-audio h2 small {
  font-size: 0.8rem;
  font-weight: initial;
  font-style: italic;
}

@media screen and (min-width: 992px) {
  #news > div .info_last_song .card-body .player-audio h2 small, #all_songs #songs ul.list-group .list-group-item .player-audio h2 small, #results .player-audio h2 small {
    font-size: 1.1rem;
  }
}

#news > div .info_last_song .card-body .player-audio, #all_songs #songs ul.list-group .list-group-item .player-audio, #results .player-audio {
  /*** PLAYER-AUDIO ***/
}

#news > div .info_last_song .card-body .player-audio .progress, #all_songs #songs ul.list-group .list-group-item .player-audio .progress, #results .player-audio .progress {
  height: 20px;
  width: 100%;
  background-color: #b3b3b3;
  cursor: pointer;
}

#news > div .info_last_song .card-body .player-audio .progress .timeline, #all_songs #songs ul.list-group .list-group-item .player-audio .progress .timeline, #results .player-audio .progress .timeline {
  background-color: #5757ff;
}

#news > div .info_last_song .card-body .player-audio .progress .timeline span, #all_songs #songs ul.list-group .list-group-item .player-audio .progress .timeline span, #results .player-audio .progress .timeline span {
  color: #FFF;
}

#news > div .info_last_song .card-body .player-audio .buttons button, #all_songs #songs ul.list-group .list-group-item .player-audio .buttons button, #results .player-audio .buttons button {
  padding: 0;
  border: none;
}

#news > div .info_last_song .card-body .player-audio .buttons .play-pause::before, #all_songs #songs ul.list-group .list-group-item .player-audio .buttons .play-pause::before, #results .player-audio .buttons .play-pause::before {
  content: '\f144';
  font-family: 'Font Awesome 5 free';
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
}

#news > div .info_last_song .card-body .player-audio .buttons .play-pause.play::before, #all_songs #songs ul.list-group .list-group-item .player-audio .buttons .play-pause.play::before, #results .player-audio .buttons .play-pause.play::before {
  content: '\f144';
}

#news > div .info_last_song .card-body .player-audio .buttons .play-pause.pause::before, #all_songs #songs ul.list-group .list-group-item .player-audio .buttons .play-pause.pause::before, #results .player-audio .buttons .play-pause.pause::before {
  content: '\f28b';
}

#news > div .info_last_song .card-body .player-audio .buttons .stop::before, #all_songs #songs ul.list-group .list-group-item .player-audio .buttons .stop::before, #results .player-audio .buttons .stop::before {
  content: '\f28d';
  font-family: 'Font Awesome 5 free';
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
}

/******** MON CODE *********/
/*** EN-TÊTE + LOGO ***/
#site_name {
  text-align: center;
  font-size: 2rem;
}

/*** MAIN ***/
@media screen and (min-width: 1200px) {
  .grid {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr auto 1fr;
        grid-template-columns: 1fr auto 1fr;
    gap: 15px;
  }
}

/*** NAV ***/
#nav_principal {
  -webkit-box-ordinal-group: -4;
      -ms-flex-order: -5;
          order: -5;
}

@media screen and (min-width: 1200px) {
  #nav_principal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

/*** CAROUSEL ***/
#last_events {
  -webkit-box-ordinal-group: -3;
      -ms-flex-order: -4;
          order: -4;
}

@media screen and (min-width: 1200px) {
  #last_events {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media screen and (min-width: 992px) {
  #last_events .carousel-item img {
    height: 18rem;
  }
}

@media screen and (min-width: 1200px) {
  #last_events .carousel-item img {
    height: 25rem;
  }
}

/*** DIV NEWS ***/
#news {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

#news > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media screen and (min-width: 992px) {
  #news > div {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

#news > div .info_last_song .card-body {
  padding: 5px;
}

/*** DIV ALL SONGS ***/
#all_songs {
  position: relative;
}

@media screen and (min-width: 1200px) {
  #all_songs {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 992px) {
  #all_songs #songs ul.list-group .list-group-item .picture_song {
    width: 32% !important;
  }
}

@media screen and (min-width: 992px) {
  #all_songs #songs ul.list-group .list-group-item .player-audio {
    margin-left: 5% !important;
  }
}

/*** DIV RESULT ***/
#results h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  #results {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 992px) {
  #results .picture_song {
    width: 32% !important;
  }
}

@media screen and (min-width: 992px) {
  #results .player-audio {
    margin-left: 5% !important;
  }
}

/*** PUB ***/
.pub {
  height: 100px;
  border: black solid 2px;
}

@media screen and (min-width: 992px) {
  .pub {
    height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .pub {
    height: 100%;
  }
}

#pub1 {
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}

@media screen and (min-width: 1200px) {
  #pub1 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/5/2;
  }
}

@media screen and (min-width: 1200px) {
  #pub2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 3/3/5/4;
  }
}

/*** FOOTER ***/
footer {
  height: 100px;
}

/*** DIV RESULT-SEARCH ***/
#result-search {
  position: absolute;
  top: 88px;
  width: 98%;
  z-index: 1;
}

/*** MODAL ***/
.display {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */